body{
  margin: 0;
}

.page{
  min-width: 100%;
  min-height: 100vh;

  width: fit-content;
  height: fit-content;

  margin: 0;
  padding: 15px;
  box-sizing: border-box;

  background-color: #ffffff;
}
